#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

#mounei{
	font-family: 'Kanit', sans-serif;
	font-size: 40px;
}

#player1_name
{
	display: inline-block;
	color: black;
	margin-right: 20px;
	font-size: 30px;
}

 #player2_name 
 {
	display: inline-block;
	color: black;
	margin-right: 20px;
	font-size: 30px;
 }
#player1_score, #player2_score
{
	font-size: 30px; 
}
body
{
	background-color: rgb(178, 235, 120);
	background-size: cover;
}
#number
{
	width: 60%;
}

.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}